.body{
    height: 100vh;
    background-image: url("../../../Assets/28.jpg");
    background-position: center;
    background-size: cover;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo__nomApp{
    font-size: 35px;
    color: white;
}
.milieu__descriptionApp{
    width: 60%;
    margin-left: 320px;
}
.milieu__descriptionApp p{
    color: white;
    font-size: 20px;
}
.auth{
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    margin-left: 30%;
    align-items: center;
    margin-top: 50px;
}
.auth__signup{
    width: 115px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(orange, gold, gold);
}
.auth__login{
    width: 115px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    cursor: pointer;
    background: linear-gradient(orange, gold, gold);
}